body {
    font-family: 'Poppins', sans-serif;
    background-image: url();
    color: white ;
    background-color: rgba(27, 27, 50, 0.8)
 }
 
 h1, p {
   margin: 10px auto;
   text-align: center;
 }
 
 form {
   width: 80%;
   max-width: 500px;
   min-width: 300px;
   margin: 20px auto;
   padding: 10px;
   background: linear-gradient(115deg, rgba(27, 27, 50, 0.8), rgba(27, 27, 50, 0.4));
 }
 
 fieldset {
   margin: 5px auto;
   border: none;
 }
 
 input { 
   margin-bottom: 10px;
   padding: 3px;
   width: 100%;
   height: 30px;
   font-family: inherit;
   font-size: inherit;
 }
 
 input[type="radio"], [type="checkbox"] {
   width: 20px;
   margin: 5px;
 }
 
 label {
   margin-bottom: 5px;
   display: flex;
   align-items: center; 
 }
 
 
 select {
   width: 100%;
   height: 30px;
   padding: 3px;
   font-family: inherit;
   font-size: inherit;
 }
 
 textarea {
   padding: 10px;
   width: 100%;
   font-family: inherit;
   font-size: inherit;
 }
 
 button[type="submit"] {
   width: 100%;
   height: 35px;
   color: white;
   background-color: green;
   border: none;
   font-size: 20px;
   font-family: inherit;
   font-size: inherit; 
   margin: 20px auto;
 }
